# Ignore Node Modules
node_modules/*

# Ignore .env
.env

# Ignore uploading the Databases to GitHub
data/*

# Ignore MP4s
files/permanentFiles/*.mp4

# Ignore JS Swap Files
**/*.swp

# Ignore Audio
files/temporaryYoutube/*.wav

# VS Code
.vscode/*

# Spotify
files/Spotify/*
