# Ignore Node Modules
node_modules/*

# Ignore .env
.env

# Ignore uploading Bugs to GitHub
data/bugs/*

# Ignore uploading Premium Data to GitHub
data/premium/*

# Ignore uploading Leaderboard to GitHub
data/usage/*

# Ignore MP4s
files/permanentFiles/*.mp4
